#sroFooter {
    font-family: latolight;
}

#sroFooter .entete {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 0 !important;
    color: white;
}

#sroFooter .entete a {
    color: inherit;
    text-decoration: inherit;
}