<div id="sroStudies">
    <div class="entete">
        <h2>- Formations -</h2>
    </div>
    <div class="container large-offset-3 large-6">
        <div ng-repeat="study in sroStudies.studies" class="study">
            <div class="icon">
                <i class="fa fa-graduation-cap" ng-if="study.type == 'study'"></i>
                <i class="fa fa-trophy" ng-if="study.type == 'certification'"></i>
            </div>

            <div class="study-text" ng-class="{'certification' : study.type == 'certification'}">
                <div>
                    <a target="_blank" ng-href="{{study.link}}">{{study.name}}</a> - {{study.date}}
                </div>
                <div>{{study.subName}}</div>
                <div>{{study.location}}</div>
            </div>

        </div>
    </div>
</div>
