#sroStudies {
    font-family: latolight;
}

#sroStudies .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #3eafab;
    color: white;
    margin-left: -26px;
    position: absolute;
}

#sroStudies .icon i {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 13px;
}

#sroStudies .icon i.fa-trophy {
    margin-left: 15px;
}

#sroStudies .study {
    border-left: 3px silver solid;
    position: relative;
    min-height: 80px;
}

#sroStudies .study-text {
    margin-left: 40px;
    padding-top: 12px;
}