<div id="sroContact">
    <div class="entete">
        <h2>- Contact -</h2>
    </div>
    <div class="container large-offset-3 large-6 medium-10 medium-offset-1 small-10 small-offset-1">

        <div ng-if="sroContact.currentState == 0" class="form-height">
            <div class="information">
                Pour me contacter, veuillez remplir le formulaire ci dessous
            </div>

            <form ng-submit="sroContact.submit()" name="sroForm" class="sro-form">

                <div class="large-6 column">
                    <input id="contact-name" placeholder="Nom *" type="text" name="name"
                           ng-model="sroContact.contact.name"
                           required>
                </div>
                <div class="large-6 column">
                    <input id="contact-email" placeholder="Email *" type="email" name="email"
                           ng-model-options="{debounce:500}"
                           ng-model="sroContact.contact.email">
                </div>

                <div class="large-12 column">
                <textarea id="contact-content" type="text" placeholder="Message *" name="content"
                          ng-model="sroContact.contact.content"
                          required></textarea>
                    <button class="small" type="submit">Envoyer</button>
                </div>
                <div class="clearfix"></div>

            </form>
        </div>
        <div ng-if="sroContact.currentState == 1" class="form-height">
            <div class="form-error">
                <div class="text-error">Envoi en cours ...</div>
            </div>
        </div>
        <div ng-if="sroContact.currentState == 2" class="form-height sweet-alert">

            <div class="form-error">
                <div class="sa-icon sa-success animate" style="display: block;">
                    <span class="sa-line sa-tip animateSuccessTip"></span>
                    <span class="sa-line sa-long animateSuccessLong"></span>

                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
                <div class="text-error">Votre message a bien été envoyé !</div>
            </div>
        </div>
        <div ng-if="sroContact.currentState == 3" class="form-height sweet-alert">

            <div class="form-error">
                <div class="sa-icon sa-error animateErrorIcon" style="display: block;">
                  <span class="sa-x-mark animateXMark">
                    <span class="sa-line sa-left"></span>
                    <span class="sa-line sa-right"></span>
                  </span>
                </div>
                <div class="text-error">Erreur lors de l'envoi du mail</div>
                <div class="sub-text-error">Solution de secours, vous pouvez toujours envoyer un mail à <a
                        href="mailTo:sebastien.romain@gmail.com">cette adresse</a> !
                </div>
            </div>


        </div>

    </div>
    <div class="bottom-margin"></div>
</div>