#sroSkills {
    font-family: latolight;
}

#sroSkills .percent-container {
    width: 90%;
    height: 20px;
    position: relative;
}

#sroSkills .empty {
    background-color: #EEE;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#sroSkills .percent {
    height: 100%;
    position: absolute;
    z-index: 1;
}

#sroSkills .technology {
    margin-top: 5px;
    margin-bottom: 5px;
}