<div id="sroSkills">

    <div class="entete">
        <h2>- Compétences -</h2>
    </div>
    <div class="container large-offset-3 large-6">

        <div ng-repeat="category in sroSkills.skillCategories">
            <h3>{{category.categoryName}}</h3>

            <div ng-repeat="technology in category.technologies">
                <div class="technology">{{technology.name}}</div>
                <div class="percent-container">
                    <div class="percent" ng-style="sroSkills.getBarColor(category, technology)"></div>
                    <div class="empty"></div>
                </div>
            </div>

        </div>

    </div>
</div>