/* latin */
@font-face {
    font-family: 'maven';
    font-style: normal;
    font-weight: 400;
    src: local('Maven Pro Regular'),
    local('MavenProRegular-Regular'),
    url("/fonts/maven-pro.woff") format('woff');
}

@font-face {
    font-family: 'latolight';
    src: url('/fonts/lato-light-webfont.eot');
    src: url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/lato-light-webfont.ttf') format('truetype'),
    url('/fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

@media screen and (max-width: 650px) {
    .hidden-mobile {
        display: none !important;
    }

    .block-mobile {
        display: block;
    }
}

@media screen and (min-width: 650px) {
    .hidden-not-mobile {
        display: none !important;
    }
}

