/* latin */
@font-face {
    font-family: 'maven';
    font-style: normal;
    font-weight: 400;
    src: local('Maven Pro Regular'),
    local('MavenProRegular-Regular'),
    url("/fonts/maven-pro.woff") format('woff');
}