#home .entete {
    background: #444444;
    height: 80px;
    margin-bottom: 30px;
}

#home .entete h2 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: maven
}

#home .information {
    color: #bababa;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

#home .bottom-margin {
    height: 30px;
    display: block;
}