<div id="sroResume">
    <div class="entete">
        <h2>- Parcours professionnel -</h2>
    </div>
    <div class="container large-offset-3 large-6">
        <div class="information">
            Cliquez sur un projet pour en afficher les détails
        </div>
        <div ng-repeat="entreprise in sroResume.jobs" class="job">
            <div class="entreprise">
                <img class="entreprise-logo" ng-src="{{entreprise.logo}}"/>

                <div class="date">
                    <a ng-href="{{entreprise.entrepriseLink}}" target="_blank" class="entreprise-name">{{entreprise.entrepriseName}}</a>
                    - {{entreprise.dateBegin}} à {{entreprise.dateEnd}}
                </div>
            </div>
            <div ng-repeat="project in entreprise.projects"
                 ng-style="sroResume.getBorderLeftStyle(project.borderColor, (!sroResume.isProjectSelected(project.projectName) && $last ))"
                 class="project"
                 ng-class="{'no-border' : !(sroResume.isProjectSelected(project.projectName) && $last == true)}"
                    >

                <div ng-click="sroResume.changeSelectedProject(project.projectName)" class="project-header">
                    <img class="project-logo"
                         ng-src="{{project.logo}}"
                         ng-style="sroResume.getBorderStyle(project.borderColor)">

                    <div ng-style="sroResume.getProjectBottomBorder(project)" class="project-title">
                        Projet {{project.projectName}} - {{project.jobTitle}} -
                        {{project.dateBegin}} à {{project.dateEnd}}
                    </div>
                </div>
                <div collapse="!sroResume.isProjectSelected(project.projectName)">
                    <div>
                        {{project.description}}
                    </div>
                    <ul>
                        <li ng-repeat="task in project.taskList">
                            {{task}}
                        </li>
                    </ul>

                    <p>Technologies</p>

                    <div>
                        Front-end :
                        <span ng-repeat="tech in project.technologies.frontEnd">
                            {{tech}} <span ng-if="!$last">,&nbsp;</span>
                        </span>
                    </div>
                    <div>
                        Back-end :
                        <span ng-repeat="tech in project.technologies.backEnd">
                            {{tech}} <span ng-if="!$last">,&nbsp;</span>
                        </span>
                    </div>
                    <div>
                        Environnement :
                        <span ng-repeat="tech in project.technologies.backEnd">
                            {{tech}} <span ng-if="!$last">,&nbsp;</span>
                        </span>
                    </div>

                    <div class="special-content" ng-bind-html="sroResume.validHtml(project.specialContent)"></div>
                    <img ng-src="{{image}}" ng-repeat="image in project.images">
                </div>

            </div>
        </div>

    </div>
    <div class="bottom-margin"></div>
</div>