<div id="sroHeader">
    <div class="top-panel">
        <div class="name">Sébastien Romain</div>
        <div class="title">Développeur Web</div>
    </div>

    <ul class="menu-links row" du-scrollspy ng-class="{'menu-fixed':sroHeader.menuFixed}">

        <li class="small-7 column hidden-not-mobile">
            Sébastien Romain
        </li>

        <li class="large-1 large-offset-2 column hidden-mobile">
            <a href="#sroHeader" du-smooth-scroll>Accueil</a>
        </li>
        <li class="large-1 column hidden-mobile">
            <a href="#sroAbout" du-smooth-scroll>A Propos</a>
        </li>
        <li class="large-1 column hidden-mobile">
            <a href="#sroResume" du-smooth-scroll>Parcours</a>
        </li>
        <li class="large-2 small-5 column">
            <a href="https://twitter.com/romainseb" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/romainseb" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://fr.linkedin.com/pub/sébastien-romain/50/8a1/45a" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
        </li>
        <li class="large-1 column hidden-mobile">
            <a href="#sroSkills" du-smooth-scroll>Compétences</a>
        </li>
        <li class="large-1 column hidden-mobile">
            <a href="#sroStudies" du-smooth-scroll>Formations</a>
        </li>
        <li class="large-1 column hidden-mobile">
            <a href="#sroContact" du-smooth-scroll>Contact</a>
        </li>

    </ul>

</div>
