<div id="sroAbout" class="row">
    <div class="large-4 large-offset-2 column">
        <div class="large-8 column text-center">
            <div class="name">Sébastien Romain</div>
            <div class="title">Développeur Web</div>
            <div class="title">Région nantaise</div>

            <a href="/data/cv.pdf" target="_blank" class="link-cv">Télécharger mon CV</a>
        </div>
        <div class="large-4 column profile-photo-container">
            <img class="profile-photo" src="/img/moi.png">
        </div>

    </div>
    <div class="large-6 right-part column">
        <div class="large-8 column">
            <p>Développeur avec 5 ans d’expériences, je suis actuellement référent technique AngularJS pour un
                projet comptant environ quarante personnes. Passionné par mon métier, qui m’offre l’opportunité de
                rechercher et d’imaginer des solutions aux besoins des entreprises et des utilisateurs, et curieux
                de nature je m’intéresse à l’évolution des technologies qui apparaissent sur le marché. Spécialiste
                du développement web, je m'intéresse tout particulièrement au monde Javascript et à ses différents
                framework.
            </p>

        </div>

    </div>
</div>
</div>