#sroAbout {
    height: 1600px;
    width: 100%;
    background-color: #4ac2be;
    font-family: maven;
    color: white;
}

#sroAbout > div {
    height: 100%;
}

#sroAbout .right-part {
    background-color: #3eafab;
}

#sroAbout .name {
    margin-top: 15px;
    font-size: 30px;
}