#sroAbout {
    height: 1500px;
    width: 100%;
    background-color: #4ac2be;
    font-family: maven;
    color: white;
}

#sroAbout > div {
    height: 100%;
}

#sroAbout .right-part {
    background-color: #3eafab;
}

#sroAbout .name {
    margin-top: 30px;
    font-size: 30px;
}

#sroAbout .title {
    font-size: 20px;
}

#sroAbout .profile-photo {
    border-radius: 150px;
    width: 75%;
    max-width: 200px;
    margin-top: 50px;
    text-align: center;
    border: 2px solid white;
}

#sroAbout .profile-photo-container {
    text-align: right;
}