#sroAbout {
    width: 100%;
    background-color: #4ac2be;
    font-family: latolight;
    color: white;
}

#sroAbout .link-cv {
    background-color: #3eafab;
    color: white;
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    text-decoration: inherit;
    width: 165px;
}

#sroAbout > div {
    height: 100%;
}

#sroAbout .right-part {
    background-color: #3eafab;
    padding-bottom: 20px;
}

#sroAbout .name {
    margin-top: 50px;
    font-size: 22px;
}

#sroAbout .title {
    font-size: 16px;
}

#sroAbout .profile-photo {
    border-radius: 150px;
    width: 100%;
    max-width: 120px;
    margin-top: 60px;
    text-align: center;
    border: 2px solid white;
}

#sroAbout .right-part p {
    margin-top: 50px;
}

#sroAbout .profile-photo-container {
    text-align: right;
}

@media screen and (max-width: 800px) {

    #sroAbout .profile-photo-container {
        text-align: left;
    }

    #sroAbout .text-block {
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {

    #sroAbout .profile-photo-container {
        text-align: center;
        float: left;
        width: 100%;
    }

    #sroAbout .name {
        margin-top: 20px;
    }
}

