<div id="sroAbout" class="row">

    <div class="large-4 large-offset-2 medium-12 column">

        <div class="hidden-not-mobile medium-4 large-4 column profile-photo-container">
            <img class="profile-photo" src="/img/moi.png">
        </div>

        <div class="text-block text-center medium-8 large-8 column">
            <div class="name hidden-mobile">Sébastien Romain</div>
            <div class="title job-name">Développeur Web</div>
            <div class="title">Région nantaise</div>

            <a href="/data/cv.pdf" target="_blank" class="link-cv">Télécharger mon CV</a>
        </div>

        <div class="hidden-mobile medium-4 large-4 column profile-photo-container">
            <img class="profile-photo" src="/img/moi.png">
        </div>

    </div>
    <div class="large-6 right-part column medium-12">
        <div class="large-8 column medium-10 medium-offset-1">
            <p>Développeur avec 5 ans d’expériences, je suis actuellement référent technique AngularJS pour un
                projet comptant environ quarante personnes. Passionné par mon métier, qui m’offre l’opportunité de
                rechercher et d’imaginer des solutions aux besoins des entreprises et des utilisateurs, et curieux
                de nature je m’intéresse à l’évolution des technologies qui apparaissent sur le marché. Spécialiste
                du développement web, je m'intéresse tout particulièrement au monde Javascript et à ses différents
                framework.
            </p>

        </div>

    </div>
</div>