<div id="sroAbout" class="row">
    <div class="large-12 right-part column">
        <div class="row">
            <div class="column large-offset-2 large-2 profile-photo-container">
                <img class="profile-photo" src="/img/moi.png">
            </div>

            <div class="column large-6">
                <div class="name">Sébastien Romain</div>
                <div class="title">Développeur Web</div>
                <p>Développeur avec 5 ans d’expériences, je suis actuellement référent technique AngularJS pour un
                    projet comptant environ quarante ressources. Passionné par mon métier, qui m’offre l’opportunité de
                    rechercher et d’imaginer des solutions aux besoins des entreprises et des utilisateurs, et curieux
                    de nature je m’intéresse à l’évolution des technologies qui apparaissent sur le marché. Spécialiste
                    du développement web, je m'intéresse tout particulièrement au monde Javascript et à ses différents
                    framework.
                </p>
            </div>
        </div>
    </div>
</div>